/* @media(max-width:1370px) {
    .text-preview {
        width: 60%;
    }
}

@media(max-width:1100px) {
    .text-preview {
        width: 50%;
    }
*/
@media(max-width:940px) {}


@media(max-width:780px) {
    .email {
        height: 95px;
        width: 95%;
        display: flex;
        padding-left: 10px;
    }

    

    .email:hover .hidden {
        display: none;
    }

    .email:hover .date-write {
        display: block;
    }

    .section-nav{
        transform: translate3d(-32px, -35px, 10px);
    }

    .star-fav {
        position: absolute;
        right: 1%;
        transform: translateY(-3px);
    }

    .dad {
        position: fixed;
    }

    .sent-drom {
        padding-left: 15px;
    }

    .email-nav {
        width: 105px;
    }

    .dad {
        width: 35%;
        z-index: 10;

    }

    .child {
        transform: translateX(-45px);
    }

    .title {
        width: 100%;
    }

    p {
        margin: 0;
        margin-bottom: 5px;
    }

    .email-navv {
        height: 250px;
        margin-right: 0;
        margin-left: 0;
        transform: translateX(24px);

    }

    .preview {
        width: 223%;
    }

    p.bold.coma {
        display: none;
    }

    .pop {
        right: 5%;
        transform: translatey(-16px);

    }

    .mail-info {
        flex-direction: column;
        justify-content: center;
        width: 150%;
        gap: 10px;
    }

    .text-preview {
        width: 50%;
        margin-left: 0;
        transform: translateX(-4px);
    }

    .search-header{
        width: 10rem;
    }

    .phone-date {
        display: none;

    }

    .date {

        padding-right: 15px;
        display: block;
        justify-self: flex-end;
    }

    .star{
        margin-right: 6px;
    }

    .date-write {
        position: absolute;
        right: 0;
        transform: translateY(-43px);
        margin-right: 38px;
    }


    .add-mail-btn {
        margin: 0;
        transform: translate3d(-32px, 31px, 10px);
        width: 120px;
        left: 0;
        width: 100%;
        transform: translateX(-236px);
        overflow: hidden;
        transition: 0.4s;
    }

    .manu-btn {
        display: block;
        transform: translate3d(-28px, 0px, 31px);
    }

    .header-nav {
        left: 0;
        width: 100%;
        transform: translateX(-236px);
        overflow: hidden;
        transition: 0.4s;
        padding: 15px;
        border-radius: 8px;
    }

    .nav-open {
        max-height: 100vh;
        transform: translateX(0px);


    }
}